<!DOCTYPE html>
<html>
<head>
    <title>Create Object</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></head>
<body>
    <div class="container">
    <h1>Create Object</h1>
    <form action="/object/{{ table_name }}/create" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br>

        <label for="description">Description:</label>
        <input type="text" id="description" name="description"><br>

        <input type="submit" value="Create">
    </form>
    </div>
</body>
</html>
