<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <title>Login</title>
    <script>
        setTimeout(function(){
            var elem = document.getElementById('flash-messages');
            if (elem) {
                elem.style.display = 'none';
            }
        }, 5000); // Hides the element after 5 seconds
    </script>
</head>
<body>
    <div class="login-container">
        <h1>Login</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div id="flash-messages">
                    {% for category, message in messages %}
                        {% if category == 'login' %}
                            <div class="{{ category }}">{{ message }}</div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <form method="post" action="{{ url_for('login') }}">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <input type="submit" value="Login">
        </form>

        <a href="{{ url_for('register') }}">Don't have an account? Register here</a>
    </div>
</body>
</html>
