<!DOCTYPE html>
<html>
<head>
    <title>Update Category</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></head>
<body>
    <div class="container">
    <h1>Update Category</h1>
    <form action="{{ url_for('update_category', category_id=category_id) }}" method="post">
        <label for="name">Category Name:</label>
        <input type="text" id="name" name="name" value="{{ category.name }}"><br>

        <input type="submit" value="Update Category">
    </form>
    <a href="{{ url_for('admin_skills') }}">Back to Categories List</a>
    </div>
</body>
</html>
